<nav class="navbar navbar-expand-lg navbar-dark glass neon-border px-3 py-2">

    <a class="navbar-brand neon-title" href="{% url 'Home:home' %}">
        MedTurn
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'Home:home' %}">Home</a>
            </li>

            <li class="nav-item">
{#                <a class="nav-link" href="{% url 'doctors:list' %}">Doctors</a>#}
            </li>

            <li class="nav-item">
{#                <a class="nav-link" href="{% url 'appointments:book' %}">Book Turn</a>#}
            </li>

            {% if request.user.is_authenticated %}
            <li class="nav-item">
{#                <a class="nav-link" href="{% url 'appointments:my_turns' %}">My Turns</a>#}
            </li>
            {% endif %}

            <li class="nav-item">
{#                <a class="nav-link" href="{% url 'contact' %}">Contact</a>#}
            </li>

        </ul>

    </div>

</nav>
