{%  load static %}

<div class="container-fluid glass topbar-glass py-1 px-3">

    <div class="text-right">

        <ul class="btn-group">
            <button class="btn btn-sm account-btn dropdown-toggle" data-toggle="dropdown"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                My Account
            </button>

            <ul class="dropdown-menu dropdown-menu-right neon" >
                {% if request.user.is_authenticated %}
                   <li>
                    <a class="dropdown-item" href="{% url 'account:profile_update' %}">Profile</a>
                   </li> 
                    {#                    <a class="dropdown-item" href="{% url 'appointments:my_turns' %}">My Appointments</a>#}
                    <li>
                    <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
                    </li>
                    <li>
                            <a class="dropdown-item"  href="/accounts/allmessages/">Show my Tickets</a>
                        </li>
                {% else %}
                   <li>
                    <a class="dropdown-item" href="{% url 'account:otplogin' %}">Login / Register</a>
                   </li> 
                {% endif %}
            </ul>
        </div>

    </div>

</div>
