{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>MedTurn</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>

    {% include 'includes/topbar.html' %}
    {% include 'includes/navbar.html' %}
    
    
    <main class="container glass-container mt-5 py-5 text-center">
     {% block main %}
         
        {% endblock %}
</main>

 

    {% include 'includes/footer.html' %}


</body>
</html>
<style>
    .glass-container {
        max-width: 900px;                 /* Bigger container */
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(10px);      /* Glass blur */
        -webkit-backdrop-filter: blur(10px);
        border-radius: 25px;              /* Smooth round borders */
        padding: 40px;
        min-height: 50vh;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    }
</style>
   